[Desktop Entry]
Name=Gerenciador de Fotos de Pessoal
Comment=Organize e consulte fotos de militares e funcionários
Exec=gerenciador-fotos
Icon=com.leobelisario.GerenciadorFotos
Terminal=false
Type=Application
Categories=Graphics;Photography;
StartupNotify=true
